*{
    box-sizing: border-box;
}

body{
    font-family: 'questrial','sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}

h1{
    color: #ffffff;
}
.screen{
    cursor: pointer;
    width: 50%;
    background-color: black !important;
    
}